<footer id="main-footer">
    <ul>
        <li>TrueFit Innovation</li>
        <li class="footer-logo"></li>
        <li>Handmade at <a href="http://www.gcc.edu/" target="_blank">GCC</a></li>
    </ul>
</footer>