/*
 * General styles
 * -------------------------------------
*/

body {
	background: #FFFFFF !important;
}

/*
 * Form styles
 * -------------------------------------
*/

textarea.description {
	height: 100px;
	resize: none;
}