/*
 * Jumbotron
 * -------------------------------------
*/

section#start {
    background: url('../Images/banners/stressed_linen.png');
}

section#start h2 {
    font-weight: 100;
    margin-top: 80px;
    text-align: center;
}

section#start div.row {
    margin-top: 30px;
}