/*
  Footer
  -------------------------------------------
*/

footer.main {
    background: url('//www.truefitsolutions.com/Themes/TrueFit.Theme/Content/nav-logo.png') no-repeat center bottom;

    border-top: 1px solid #DDDDDD;
    margin-top: 30px;
    padding: 40px;
}