/*
 * General styles
 * -------------------------------------------
*/

* {
    font-family: 'Lato', sans-serif;
}

/*
 * Footer
 * -------------------------------------------
*/

footer#main-footer {
    background: #181818;
    color: #888888;
    padding: 35px 10%;
    text-align: center;
    width: 100%;
}

footer#main-footer ul {
    font-size: 12px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
}

footer#main-footer ul li {
    display: inline-block;
    vertical-align: middle;
}

footer#main-footer ul li.footer-logo {
    background: url('../Images/logos/small-logo.png');
    background-size: 100%;
    height: 29px;
    width: 45px;
}

footer#main-footer ul li a {
    color: #888888;
    text-decoration: none;
}