/*
 * General styles
 * -------------------------------------------
*/

* {
    font-family: 'Lato', sans-serif;
}

/*
 * Jumbotron
 * -------------------------------------
*/

section#start {
    color: #FFFFFF;
    padding: 48px 110px;
}

section#start nav.main-breadcrumb ul {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

section#start nav.main-breadcrumb ul li {
    display: inline-block;
    list-style: none;
    padding: 2px 0px 5px 9px;
    vertical-align: top;
}

section#start nav.main-breadcrumb ul li:first-child {
    padding: 0px;
}

section#start nav.main-breadcrumb ul li a {
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;

    color: #666666;
    font-size: 20px;
    text-decoration: none;
}

section#start nav.main-breadcrumb ul li a::before {
    content: '\3009';
}

section#start nav.main-breadcrumb ul li a:hover {
    color: #444444;
}

section#start nav.main-breadcrumb ul li:first-child a::before {
    content: '';
}

section#start nav.main-breadcrumb ul li a.logo {
    -moz-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -ms-opacity: 1;
    -o-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;

    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;

    background: url('../Images/logos/full-logo.png');
    background-position: -12px -12px;
    background-size: 119%;
    display: inline-block;
    height: 36px;
    width: 150px;
}

section#start nav.main-breadcrumb ul li a.logo:hover {
    -moz-opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -ms-opacity: 0.5;
    -o-opacity: 0.5;
    -webkit-opacity: 0.5;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

section#start nav.links {
    height: 36px;
    position: absolute;
    right: 10%;
    top: 48px;
}

section#start nav.links ul {
    height: 36px;
	list-style: none;
	margin: 0px;
}

section#start nav.links ul li {
    display: inline-block;
	height: 36px;
	padding-left: 30px;
}

section#start nav.links ul li a {
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 11px 0px;
    text-decoration: none;
    text-transform: uppercase;
}

section#start nav.links ul li a:hover {
	color: #444444;
}

/*
 * Footer
 * -------------------------------------------
*/

footer#main-footer {
    background: #181818;
    color: #888888;
    padding: 35px 10%;
    text-align: center;
    width: 100%;
}

footer#main-footer ul {
    font-size: 12px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
}

footer#main-footer ul li {
    display: inline-block;
    vertical-align: middle;
}

footer#main-footer ul li.footer-logo {
    background: url('../Images/logos/small-logo.png');
    background-size: 100%;
    height: 29px;
    width: 45px;
}

footer#main-footer ul li a {
    color: #888888;
    text-decoration: none;
}