@model TrueFitProjectTracker.ViewModels.BugViewModel

@{
    Layout = "";
}

@section styles{
       @Styles.Render("~/Content/Bug.css")
}

<!DOCTYPE html> 
<html lang="en-us">
   
<head>
    <title>Your issue has been submitted!</title>
    </head>
    <body>
    <p>Thank you for your input.</p>
    </body>

    </html>