@model TrueFitProjectTracker.ViewModels.BugViewModel
@{ Layout = ""; }

<!DOCTYPE html> 
<html lang="en-us">
<head>
<title>Bug Successfully Submitted</title>
<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
@Styles.Render("~/Content/Site.css")

<script>
	window.onload = function() {
		setTimeout(function() {
		//Hide the containing modal dialog
			window.parent.$('#myModal').modal('hide');

		//Reset back to the bug entry page
			var frame = window.parent.document.getElementById('bug-form');
			frame.src = frame.src;
		}, 2000);
	}
</script>
</head>

<body style="background-color: #FFFFFF !important; overflow: hidden;">
<section class="empty"><h3>Thank you for your input.</h3></section>
</body>
</html>