@model TrueFitProjectTracker.ViewModels.ProjectsListViewModel
@{
    Layout = "~/Views/Shared/Layouts/_Home.cshtml";
    ViewBag.Title = "TrueFit Innovations Project Tracker";
}
<ul id="projects-list">
    @foreach (TrueFitProjectTracker.ViewModels.ProjectEntry entry in Model.projectsList)
    {
        <li>@(entry.Id): @(entry.Name) - @(entry.ClientName)</li>
    }
</ul>